* {
    padding: 0%;
    margin: 0%;
}

body {
    height: 100vh;
    justify-content:center;
    background-color: rgb(233, 233, 233);
}
nav {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    right: 0;
    display: center;
    align-items: center;
    background-color: #0e0e0e;
    opacity: 0.9;
    padding: 1%;
    border-bottom: 1px solid transparent;
}
a {
        text-decoration: none;
        color: rgb(26, 26, 26);   
    }
ul img {
    float: left;
    height: 80px;
    margin-top: -35px;
    
}
nav li {
    display: inline;
}
nav ul {
    font-family: 'Poppins',sans-serif;
    font-size: 16px;
    font-weight: thin;
    padding: 25px;
    word-spacing: 25px;
    box-shadow: 100%;
    text-align: right;
    padding-right: 5%;
}

li img {
    float: right;
    height: 45px;
    margin-top: -18px;
    padding-left: 70px;
    margin-right: -50px;
}
nav li a {
    color: rgb(126, 126, 126);
    position: relative;
    text-decoration: none;
}
nav li a::after {
    content: "";
    position: absolute;
    background-color: #ca0000;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
nav li a:hover {
    color: #ffffff;
}
nav li a:hover::after {
    width: 100%;
}
h1 {
    padding-top: 250px;
   font-size: 50px;
   font-family: 'Poppins', sans-serif;
   color: rgba(0, 0, 0, 0.767);
   padding-left: 100px;
}
h3 {
    padding-bottom: 250px;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
h2 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    padding-bottom: 1px;
}
h4 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    padding-top: 5px;
}
p {
    padding: 50px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.kotak {
    background-color: whitesmoke;
    border-radius: 5px;
    width: 450px;
    padding: 5px 30px;
    position: fixed;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    opacity: 0.8;
}
.kotak h1 {
    padding-top: 15px;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-bottom: 15px;
}
.inputan {
    margin-bottom: 5px;
    position: relative;
}
.inputan label {
    display: block;
    margin-bottom: 10px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.inputan input {
    width: 425px;
    height: 28px;
    background-color: white;
    border-radius: 7px;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid rgb(182, 174, 174);
    border: none;
    border-bottom: 2px solid rgb(66, 66, 66);

}
button {
    display:block;
    margin-bottom: -10px;
    color: white;
    background-color: rgb(85, 85, 85);
    width: 100%;
    cursor: pointer;
    border: 2px #3498db;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
}
.tombol button {
    background-color: transparent;
    color:#242424;
}
.pindah h4 {
    color: black;
    background-color: whitesmoke;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    float: left;
    font-size: 15px;
    padding-bottom: 15px;
}
.pindah a {
    text-decoration: underline;
    color: blue;
}
label {
    font-size: 13px;
}
.container {
    background-color: white;
border-radius: 25px;
width: 300px;
padding: 10px 30px;
position:absolute;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
opacity: 0.8;
text-align: center;
justify-content: center;
transition: 0.5s;
}
.container:hover {
    transform: scale(0.9);
    cursor: center;
}
main .container {
    margin-left: 150px;
    margin-top: 25px;
}
.profil {
    background-color: white;
border-radius: 25px;
width: 300px;
padding: 10px 30px;
position:absolute;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
opacity: 0.8;
text-align: center;
justify-content: center;
transition: 0.5s;
}
.profil:hover {
    transform: scale(0.9);
    cursor: center;
}
main .profil {
    margin-left: 800px;
    margin-top: 25px;
}
.haha {
    font-family: Arial, Helvetica, sans-serif;
        font-weight:100;
        margin-top: 10px;
        font-size: 35px;
}
.tekan {
    padding-bottom: 168px;
        background-color: transparent;
        color: black;
        display: block;
}
.paragraph {
    padding-left: 300px;
    padding-left: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
    border: 2px solid rgb(138, 138, 138);
    border-radius: 50px;
}
li a img {
    float:right;
    height: 40px;
    padding-top: 5px;
    padding-left: 50px;
}
button :hover {
    cursor: pointer;
    background: #2d3866;
}
footer .footer {
    padding-top: 260px; 
}
.footer h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: black;
        font-weight:100;
        text-align: center;
        justify-content: center;
        padding-bottom: -10px;
        padding-top: 300px;
}
.footer a {
    border-radius: 10px;
    color: white;
    background-color: #adadad;
    padding: 13px;
    font-size: 19px;
    margin-left: 20px;
} 
.footer a:hover {
    cursor: center;
}
.square button {
    height: 100px;
    width: 350px;
    padding-bottom: 250px;
    margin-left: 200px;
    border-radius: 0%;
    background-color: white;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.square button:hover {
    transform: translateY(-30px);
}
.square p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -30px;
    color: black;
}
.foto button {
    height: 100px;
    width: 350px;
    padding-bottom: 250px;
    margin-left: 800px;
    border-radius: 0%;
    background-color: white;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.foto button:hover {
    transform: translateY(-30px)
}
.foto p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin-top: -30px;
    color: black;
}
.orang {
    display: flex;
    padding-top: 120px;
    width: 1100px;
    height: 1100px;
    margin-left: 150px;
}
.manusia {
    width: 150px;
    height: 250px;
    background: #242424;
    flex: 1;
    transition: 0.3s;
    border-radius: 10px;
    margin-left: -40px;
    margin-top: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.89);
} 
.manusia:hover {
    flex: 3;
}
.manusia1 {
    background-image: url(/image/pak\ rian2.png);
    width: 20px;
}
.manusia1 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: -30px;
}
.manusia1 .text {
    font-size: 23px;
    margin-left: 55px;
    margin-right: -30px;
    margin-top: 10px;
}
.manusia2 {
    background-image: url(/image/fairuz2.png);
    width: 30px;
}
.manusia2 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: -30px;
}
.manusia2 .text {
    font-size: 23px;
    margin-left: 40px;
    margin-right: -30px;
    margin-top: 10px;
}
.manusia3 {
    background-image: url(/image/tiara2.png);
    width: 20px;
}
.manusia3 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-left: -30px;
}
.manusia3 .text {
    font-size: 23px;
    margin-left: 50px;
    margin-right: -30px;
    margin-top: 10px;
}
.manusia4 {
    background-image: url(/image/manda2.png);
}
.manusia4 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: -30px;
}
.manusia4 .text {
    font-size: 23px;
    margin-left: 7px;
    margin-right: -30px;
    margin-top: 20px;
}
.manusia5 {
    background-image: url(/image/rini2.png);
}
.manusia5 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: -30px;
}
.manusia5 .text {
    font-size: 23px;
    margin-left: 67px;
    margin-right: -30px;
    margin-top: 20px;
}
.manusia6 {
    background-image: url(/image/najma2.png);
}
.manusia6 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: -30px;
}
.manusia6 .text {
    font-size: 23px;
    margin-left: 30px;
    margin-right: -30px;
    margin-top: 20px;
}
.manusia7 {
    background-image: url(/image/user3.png);
}
.manusia7 p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-left: -30px;
}
.manusia7 .text {
    font-size: 20px;
    margin-left: -30px;
    margin-right: -30px;
    margin-top: 10px;
}
.anggota {
    margin-top: -600px;
    transition: 0.3s;
}
.human1 {
    background-color: white;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human1:hover {
    transform: translateY(30px);
}
.human1 p {
    font-family: 'Poppins', sans-serif;
}
.human1 img {
    border-radius: 25px;
    width: 250px;
}
.human2 {
    background-color: white;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 545px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human2:hover {
    transform: translateY(30px);
}
.human2 p {
    font-family: 'Poppins', sans-serif;
}
.human2 img {
    border-radius: 25px;
}
.human3 {
    background-color: white;
    padding-top: 30px;
    border-radius: 25px;
    padding-bottom: 5px;
    margin-left: 1000px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human3:hover {
    transform: translateY(30px);
}
.human3 p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.human3 img {
    border-radius: 25px;
}
.human4 {
    background-color: white;
    margin-top: 545px;
    padding-top: 15px;
    border-radius: 25px;
    padding-bottom: 5px;
    margin-left: 300px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human4:hover {
    transform: translateY(30px);
}
.human4 p {
    font-family: 'Poppins', sans-serif;
}
.human4 img {
    border-radius: 25px;
}
.human5 {
    background-color: white;
    margin-top: 545px;
    padding-top: 15px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 780px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human5:hover {
    transform: translateY(30px);
}
.human5 p {
    font-family: 'Poppins', sans-serif;
}
.human5 img {
    border-radius: 25px;
}
.human6 {
    background-color: white;
    margin-top: 1100px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 70px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human6:hover {
    transform: translateY(30px);
}
.human6 p {
    font-family: 'Poppins', sans-serif;
}
.human6 img {
    border-radius: 25px;
}
.human7 {
    background-color: white;
    margin-top: 1100px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: -50px;
    margin-left: 550px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human7:hover {
    transform: translateY(30px);
}
.human7 p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.human7 img {
    border-radius: 25px;
}
.human8 {
    background-color: white;
    margin-top: 1100px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 995px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human8:hover {
    transform: translateY(30px);
}
.human8 p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.human8 img {
    border-radius: 25px;
}
.human9 {
    background-color: rgb(255, 253, 225);
    margin-top: 1750px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 40px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human9:hover {
    transform: translateY(30px);
}
.human9 p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.human9 img {
    border-radius: 25px;
}
.human10 {
    background-color: rgb(255, 253, 225);
    margin-top: 1750px;
    padding-top: 15px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 360px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human10:hover {
    transform: translateY(30px);
}
.human10 p {
    font-family: 'Poppins', sans-serif;
}
.human10 img {
    border-radius: 25px;
}
.human11 {
    background-color: rgb(255, 253, 225);
    margin-top: 1750px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 700px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human11:hover {
    transform: translateY(30px);
}
.human11 p {
    font-family: 'Poppins', sans-serif;
}
.human11 img {
    border-radius: 25px;
}
.human12 {
    background-color: rgb(255, 253, 225);
    margin-top: 1750px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 1030px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human12:hover {
    transform: translateY(30px);
}
.human12 p {
    font-family: 'Poppins', sans-serif;
}
.human12 img {
    border-radius: 25px;
}
.human13 {
    background-color: rgb(255, 253, 225);
    margin-top: 2349px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 150px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human13:hover {
    transform: translateY(30px);
}
.human13 p {
    font-family: 'Poppins', sans-serif;
}
.human13 img {
    border-radius: 25px;
}
.human14 {
    background-color: rgb(255, 253, 225);
    margin-top: 2349px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    padding-bottom: 10px;
    margin-left: 850px;
    position:absolute;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    text-align: center;
    justify-content: center;
    transition: 0.5s;
}
.human14:hover {
    transform: translateY(30px);
}
.human14 p {
    font-family: 'Poppins', sans-serif;
}
.human14 img {
    border-radius: 25px;
}
.badan {
    background-color: #0e0e0e;
}
.isi {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background:#2a2a2a;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.isi h1 {
    padding-top: 0px;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-left: -80px;
    color: rgb(255, 255, 255);
    padding-bottom: 15px;
}
.akun label {
    display: block;
    margin-bottom: 0px;
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    color: white;
}
.akun input {
    border-radius: 7px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    border-bottom: 2px solid rgb(66, 66, 66);
}
.pencet button {
    display:block;
    margin-bottom: -10px;
    color: white;
    background-color: rgb(85, 85, 85);
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
}
.pencet2 {
    background-color: #2d3866;
}
.section {
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 94%;
    margin: 15rem auto 0 auto;
}
.section img {
    height: 250px;
    margin-top: 100px;
}
.section p {
    color: white;
    margin-right: 15px;
    margin-top: 100px;
}
.gambar {
    background-color: #252121;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 94%;
}
.gambar img {
    height: 250px;
    margin-top: 100px;
}
.gambar p {
    color: white;
    margin-right: 0px;
    margin-top: 100px;
}
.section1 {
    margin: 0;
}
.gambar2 {
    padding-top: 200px;
    display: block;
}
.gambar2 img {
    margin-left: 300px;
    width: 600px;
    height: 400px;
}
.gambar2 p {
    margin-left: 130px;
    margin-top: -25px;
    font-size: 25px;
}